/*/ hunter green hex code #11290f*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: didot, serif;
  margin: 0;
  padding: 0;
  background-color: #FDFEFF;
 }
 
 .brand-title {
  display: grid;
  place-items: center;
 }

 .navbar {
  display: block;
 }

 .brand-title {
  font-size: 1.5rem;
  margin: .5rem;
 }


 
 .nav-bar-links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 50px;
  flex-wrap: nowrap;
 }

 .nav-bar-links li {
  list-style: none;
 }

 .nav-bar-links li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  letter-spacing: 5px;
  font-weight: bolder;
 }

 .nav-bar-links a:hover {
  color: burlywood;
  transition: color 0.1s ease-in-out;
 }

 .toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
 }

 .toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
 }



 .menu-items a {
   color: black;
   font-weight: 500;
   list-style: none;
   text-decoration: none;
   transition: color 0.3s ease-in-out;
   text-align: center;
   display: inline;
   margin-left: 50px;
   margin-right:50px;
   letter-spacing: 5px;
   font-weight: bolder;

 }
 
 .menu-items a:hover {
   color: burlywood;
   transition: color 0.1s ease-in-out;
 }

 .scroll {
  width: auto;
  height: 500px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid white;
  background-image: url(./images/new\ header.jpg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.scroll-head {
  font-size: 5vw;
  color: white;
  padding: 8px 24px;
  border-radius: 16px;
  text-align: center;
  white-space: nowrap;
}

.scroll-two {
  width: auto;
  height: 500px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid white;
  background-image: url(./images/index-two-image.jpg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

hr {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #000;
  height: 1px;
  font-weight: bolder;
}

.info-box {
  padding: 60px;
  outline: none;
}

.info-box h4 {
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  white-space: pre-wrap;
}

.info-box p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
/* 5 */

button {
  margin: 20px;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
background: linear-gradient(0deg, white 0%, white 100%);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: burlywood;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

.btn-5 a {
  text-decoration: none;
  color:  #11290f;
}

  /* ABOUT US HTML PAGE */

.space {
  padding-top: 10%;
}

.col-md-8 {
 padding: 5% 10% 5% 2%;
}

.card-header {
  padding-top: 80px;
  text-align: center;
  letter-spacing: 1px;
}

/* project page */

.card .card-header {
  padding-top: 20px;
}

.image-list-small {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  font-size: 9pt; 
  width: 30%; 
  margin: 15px 20px 15px 23px;
}

.image-list-small li {
  list-style: none;
  margin: 15px 5px 15px 5px;
  padding: auto 100px auto 100px;
}


/* Photo */

.test {
  text-align:center;
 display: block;
}

.image-list-small li > a {
  display: block;
  text-decoration: none;
  background-size:cover;
  height: 137px;
  margin: 0;
  padding: 0;
  outline: 1px solid #d0d0d0;
  box-shadow: 0 2px 1px #DDD;
  transition: .25s;
}
.image-list-small li > a:hover{
    transform: scale(1.1);
    transition: .25s;
}

.image-list-small .details {
  margin-top: 13px;
}


/* Title */

.image-list-small .details h3 a {
  color: #303030;
  text-decoration: none;
}

.image-list-small .details .image-author {
  display: block;
  color: #717171;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}


/* ending */
.ending-header {
    text-align: center;
    letter-spacing: 6px;
padding: 50px;
    text-transform: capitalize;
    padding-top: 50px;
    font-size: 18px;
   
}


/* image slider */
.padding-serv {
  display: flex;
  justify-content: center;
}



.slider{
  width: 800px;
  height: 500px;
  border-radius: 7px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  text-align:center;
}

.slides input{
  display: none;
  
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  cursor: grab;
  transition: 4s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #ccc;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/* Automatic Navigation */
.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #333;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn-1{
  background: #ccc;
}

#radio2:checked ~.navigation-auto .auto-btn-2{
  background: #ccc;
}


#radio3:checked ~.navigation-auto .auto-btn-3{
  background: #ccc;
}

#radio4:checked ~.navigation-auto .auto-btn-4{
  background: #ccc;
}


.maindiv-heading{
  padding: 20px;
}

.center2 {
  text-align: center;
  letter-spacing: 2px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* responsive setting */
/*


/* nav bar css */
@media screen and (max-width: 600px) 
{
  .toggle-button {
   display: flex;
   margin-left: 150px;
  }

  .nav-bar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    
  }

  .nav-bar-links ul {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin-left: 13.5px;
  }

   .nav-bar-links.active {
    display: flex;
    flex-direction: column;
   }

}

@media screen and (max-width: 2000px) 
{
  .nav-bar-links li a {
    margin-left: 20px;
  }
}



/* projects*/

/* responsive page */



@media screen and (max-width: 600px)
 {
  .image-list-small{
    display: flex;
    flex-direction: column;
    padding-left: 9%;
  }
  #hidden-images{
    display: none;

  }

  .image-author{
    text-align: center;
  }

}

@media only screen and (device-width : 414px) and (device-height: 896px){
  #media-hide{
    display: block;
   width: 80%;
   padding-left: 30px;
  }
}

@media only screen and (device-width : 412px) and (device-height: 915px){
  #media-hide{
    display: block;
   width: 80%;
   padding-left: 30px;
  }
}

@media only screen and (device-width : 412px) and (device-height: 883px){
  #media-hide{
    display: block;
   width: 80%;
   padding-left: 30px;
  }
}




/* iphone 12 max css */

@media (width: 428px){

  #media-hide{
    display: block;
   width: 80%;
   padding-left: 50px;
  }
}

@media only screen and (device-width : 540px) and (device-height: 720px){
  #media-hide{
    display: block;
   width: 80%;
   padding-left: 50px;
  }
}



@media only screen and (device-width : 912px) and (device-height: 1368px){
  .image-list-small{
  align-self: center;
  padding: 0;
  margin: 0;
  display: block;
  }
  #media-hide{
    display: block;
   width: 80%;
   padding-left: 130px;
  }
  #hidden-images{
    display: none;
  }
}





@media only screen and (device-width : 1280px) and (device-height: 800px){
  .image-list-small{
    width: 500px;
    margin-top: -20px;
    padding-left: 14%;
    display: flex;
    flex-direction: column;
  }
  

  #hidden-images{
   display: none;
  }
}


@media screen and (max-width: 1000px) {
  .image-list-small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  #class-2{
    display: none;
  }
}


@media only screen and (device-width : 820px) and (device-height: 1180px){
  .image-list-small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8%;
    text-align: center;
  }
  #class-2{
    display: none;
  }
  #media-hide{
   width: 40%;
   padding-left: 50px;
  }
}





@media only screen and (device-width : 810px) and (device-height: 1080px) { 
  .image-list-small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8%;
    text-align: center;
  }
  #class-2{
    display: none;
  }
  #media-hide{
   width: 40%;
   padding-left: 50px;
  }
}


/* projects page smaller pixel */
@media screen and (max-width: 1200px) {
  
.image-list-small{
    width: 300px;
    margin-top: -30px;
    padding-right: 20px;
  }

  /* projects final */
@media screen and (max-width: 1289px){
  .image-list-small{
    display: flex;
    flex-direction: column;
}
}




@media screen and (max-width: 1200px){
  .image-list-small{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}
}

@media screen and (max-width: 1139px){
  .image-list-small{
    display: flex;
    flex-direction: column;
    margin: 0 35px;
}
}
@media screen and (max-width: 1109px){
.hello{
  display: flex;
  margin: 0;
}
}


/* index.html */

@media screen and (max-width: 600px)
{
  .scroll-head {
    font-size: 4vw;
  }

  .scroll {
  background-image: url(./images/new\ header.jpg);
  background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
}
  .scroll-two {
    background-image: url(./images/index-two-image.jpg);
    background-repeat: no-repeat;
   background-position: center;
  }

  .padding-serv {
    display: none;
  }

  .center2{
    padding: 50px 30px 0 30px;
  }

  #phone-btn{
    /* margin: 30px 50px;
    padding: 0; */
    width: 50%;
    margin: 0 0px 0 100px ;
    text-align: center;
  }

}

@media screen and (max-width: 1108px)
{
  .scroll-head {
    font-size: 4vw;
    background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
  }

  .scroll {
  background-image: url(./images/new\ header.jpg);
   background-size: auto;
   background-repeat: no-repeat;
   background-position: center;
}
  .scroll-two {
    background-image: url(./images/index-two-image.jpg);
    background-repeat: no-repeat;
   background-position: center;
  }

  .padding-serv {
    display: none;
  }

  .center2{
    padding: 50px 30px 0 30px;
  }
}


@media screen and (max-width: 702px){
  .nav-bar-links li a {
    margin-left: 1px;
  }
}


@media screen and (max-width: 670px){
  .nav-bar-links li a {
  border: 2px solid white;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2px;
  }
}




@media screen and (max-width: 658px){
.nav-bar-links li a {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
 }
}


@media screen and (max-width: 1294px){
  .hello .media-1 .media-2 .media-3{
    display: flex;
  }
  .foot{
    display: flex;
  }
}
}
  
/*  Final css page */









